.recipeCard-item {
  text-align: center;
  border-radius: 5px;
  gap: 10px;
  overflow: hidden;
  position: relative;
  display: table-caption;
}

.recipeCard-image {
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.recipeCard-item:hover .recipeCard-image {
  transform: scale(1.1); 
}

.recipeCard-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-align: left;
  color: #2f3133;
  margin-left: 5px;
  padding: 2px;
  text-transform: uppercase;
}

.recipeCard-title p {
  margin: 0;
}
