.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 51px;
  margin-top: 2rem;
  width: 70vw;
}


.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.recipe-container {
  padding-top: 75px;
}

.search-container {
  width: 490px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

input#search-bar {
  width: calc(100% - 40px);
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1.2px solid black;
  border-radius: 10px;
  outline: none;
  transition: border 0.35s ease;
  background: transparent;
  color: black;
  font-family: "Poppins", sans-serif;
}

input#search-bar::placeholder {
  color: rgba(44, 43, 43, 0.66);
}

input#search-bar:focus {
  color: black;
  font-family: "Poppins", sans-serif;
}

.search-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 10px;
  color: black;
}


.loader {
  border: 4px solid rgba(51, 50, 50, 0.3);
  border-radius: 50%;
  border-top: 4px solid #646363;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 10rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .search-container {
    max-width: 90%;
  }
  .search-icon {
    right: 15px;
  }
  input#search-bar {
    width: calc(100% - 30px);
  }
}

@media (max-width: 480px) {
  .search-container {
    padding: 0 10px;
  }
  input#search-bar {
    width: calc(100% - 30px);
  }
  .search-icon {
    right: 15px;
  }
}
