.recipeCard-item{
  text-align: center;
  background-color: #f9f9f9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.recipeCard-image {
  object-fit: cover;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recipeCard-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
